:root {
  --main-color: #450773;
  --secondary-color: #23104b;
  --third-color: #a55ff2;
  --white-color: #ffffff;
  --p-20: 20px;
  --border-rd: 20px;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: var(--white-color);
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--main-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 10px gray inset;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* <------------------------------------------------------------------------------------------> */
/* start body  */
body {
  background-image: linear-gradient(
    to left bottom,
    var(--main-color),
    var(--secondary-color)
  );
  height: 100vh;
  color: var(--white-color);
}
.left-nav {
  width: 300px;
}
@media (max-width: 991px) {
  .left-nav {
    width: 70px;
  }
}
.left-nav ul li {
  padding: 5px 20px;
  transition: 0.3s;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.left-nav ul li:hover {
  background-color: var(--third-color);
}
.left-nav ul li:hover i {
  color: var(--secondary-color);
}
/* <------------------------------------------------------------------------------------------> */
/* Start content*/
.content {
  overflow: auto;
  margin: 0px 300px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media (max-width: 991px) {
  .content {
    margin: 0px 0px 0px 70px;
  }
}
.content .info {
  margin: 0px auto;
  background-color: #6c0bb675;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.content .profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.content .profile-img img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.content .info .info-details .outer-prog {
  width: 100%;
  height: 10px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.content .info .info-details .outer-prog .inner-prog {
  height: 100%;
  background-color: var(--third-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.special .special-content {
  padding: 20px 10px;
  background-color: #150b2b;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
}
.special .special-content .special-img img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.special .special-content .gold {
  content: "Best Of The Week";
  width: 130px;
  height: 15px;
  font-size: 10px;
  font-weight: bold;
  background-color: rgb(250, 219, 42);
  color: black;
  position: absolute;
  right: -35px;
  top: 15px;
  text-align: center;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
}
.special .special-content .gold::before {
  content: "";
  position: absolute;
  left: -1px;
  width: 0px;
  height: 100%;
  border: 7px solid transparent;
  border-left-color: var(--secondary-color);
}
.special .special-content .gold::after {
  content: "";
  position: absolute;
  right: -1px;
  width: 0px;
  height: 100%;
  border: 7px solid transparent;
  border-right-color: var(--secondary-color);
}
.subjects-content .sub-box img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.subjects-content .sub-box {
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.subjects-content .sub-box p {
  visibility: hidden;
  position: absolute;
  left: 7px;
  top: 0px;
  height: 100%;
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.subjects-content .sub-box:hover p {
  visibility: visible;
}
/* end content  */
/* <------------------------------------------------------------------------------------------> */
/* Start Quizs */
.quizs {
  margin-left: 300px;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.search-bar {
  padding: 8px;
  font-size: 16px;
  width: 300px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.search-button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--third-color);
  color:white;
}
.search-button:hover{
  background-color: gold;
}
/* End Quizs */
/* <------------------------------------------------------------------------------------------> */
/* strat right nav  */
.right-nav {
  width: 300px;
  height: 90%;
}
@media (max-width: 991px) {
  .right-nav {
    display: none;
  }
}
@media (max-width: 767px) {
  .right-nav {
    display: none;
  }
}
.right-nav .top-part {
  height: 30%;
  display: flex;
  padding: 10px;
}
.right-nav .top-part i {
  color: rgb(250, 219, 42);
  margin-bottom: 5px;
}
.box-1,
.box-2,
.box-3 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.box-1 {
  z-index: 3;
}
.box-2,
.box-3 {
  z-index: 2;
  margin-top: 40px;
  position: relative;
}
.box-2 {
  right: -15px;
}
.box-3 {
  left: -15px;
}
.right-nav .top-part p {
  font-size: 12px;
}
.right-nav .top-part .box-img {
  width: 80px;
  margin: 0px auto;
}
.right-nav .top-part .box-img img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.box-2 .box-img,
.box-3 .box-img {
  width: 60px;
}
.right-nav .top-part p {
  margin-top: 10px;
}
.rank-table {
  margin-top: 20px;
  height: 70%;
}
.rank-table .title {
  text-align: end;
  padding-top: 15px;
  padding-right: 15px;
}
.rank-table .rank {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}
.rank-table .rank .rank-box {
  width: 100%;
  display: flex;
  align-content: center;
  margin: 10px 0px;
}
.rank-table .rank .rank-box .info {
  margin-left: 5px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.rank-table .rank .rank-box .info > p {
  margin-top: 5px;
}
.rank-table .rank .rank-box .rank-img {
  width: 50px;
}
.rank-table .rank .rank-box .rank-img img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* end right nav  */
/* <------------------------------------------------------------------------------------------> */
.modal-content {
  background-color: var(--secondary-color);
}
/* Responsive Design */
@media (max-width: 992px) {
  .left-nav {
    width: 70px;
  }
  .left-nav h1 {
    font-size: 1rem;
  }
  .left-nav ul li {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .left-nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
  }
  .left-nav ul li i {
    margin-left: 25px;
  }
  .left-nav ul li span {
    display: none;
  }
}

@media (max-width: 768px) {
  .left-nav {
    width: 60px;
  }
  .left-nav h1 {
    font-size: 0.8rem;
    text-align: center;
  }
  .left-nav ul li {
    padding: 8px;
  }
  .left-nav ul li i {
    margin-left: 25px;
  }
}

@media (max-width: 576px) {
  .left-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50px;
    z-index: 1000;
  }
}
